<h2>Input Name: {{input.name}}</h2>
<h3>Input Type: {{input.type}}</h3>

<div *ngIf='type == inputPortTypes.Slider'>
	<form class="example-form" style="display: flex; flex-direction: column;">
	  <input placeholder="Minimum Value" [(ngModel)]="input.opts.min" value="{{ input.opts.min }}" name='{{input.id}}#min'>
	  <input placeholder="Maximum Value" [(ngModel)]="input.opts.max" value="{{ input.opts.max }}"  name='{{input.id}}#max'>
      <input placeholder="Step" [(ngModel)]="input.opts.step"  value="{{ input.opts.step }}"  name='{{input.id}}#step'>
	</form>
</div>


<ng-container *ngIf='false'>

<div *ngIf='type == inputPortTypes.Input'>

	<form class="example-form">
	  <mat-form-field class="example-full-width">
	    <textarea matInput 
	    		matTextareaAutosize 
				matAutosizeMinRows="2"
    			matAutosizeMaxRows="8" 
    			placeholder="Default Value" 
    			value="{{ default(input) }}"
    			(change)="updateDefaultValue($event, input)">
		</textarea>
	  </mat-form-field>
	</form>
</div>

<div *ngIf='type == inputPortTypes.FilePicker'>
	<div class="value">
		<input type="file" id="file" (change)="handleFileInput($event.target.files, input)">
		<br><br>
		<div *ngIf="input.getDefaultValue()">
			<h3>Default File:</h3> 
			<div style="max-height: 150px; overflow-y: auto">File Loaded<!-- {{input.getDefaultValue()}} --></div>
		</div>
	</div>
</div>

<div *ngIf='type == inputPortTypes.URL'>
	URL:
	<small><input type="text" value="{{input.getOpts().url}}" (change)="updateURL($event, input)" #url></small>
</div>

<div *ngIf='type == inputPortTypes.Checkbox'>
	<div>
		<mat-checkbox #val 
		(change)="input.setDefaultValue(val.checked)" 
		[checked]="input.getDefaultValue()"></mat-checkbox>
	</div>
</div>

</ng-container>